## EDA LAB

The General Social Survey (GSS) is a bi-annual nationally representative survey of Americans, with almost 7000 different questions asked since the survey began in the 1970s. It has straightforward questions about respondents' demographic information, but also questions like "Does your job regularly require you to perform repetitive or forceful hand movements or involve awkward postures?" or "How often do the demands of your job interfere with your family life?" There are a variety of controversial questions. No matter what you're curious about, there's something interesting in here to check out. The codebook is 904 pages (use CTRL+F to search it).

The data and codebook are available at:
https://gss.norc.org/us/en/gss/get-the-data.html

The datasets are so large that it might make sense to pick the variables you want, and then download just those variables from:
https://gssdataexplorer.norc.org/variables/vfilter

Here is your task:
1. Download a small (5-15) set of variables of interest.
2. Write a short description of the data you chose, and why. (1 page)
3. Load the data using Pandas. Clean them up for EDA. Do this in a notebook with comments or markdown chunks explaining your choices.
4. Produce some numeric summaries and visualizations. (1-3 pages)
5. Describe your findings in 1-2 pages.
6. If you have other content that you think absolutely must be included, you can include it in an appendix of any length.

For example, you might want to look at how aspects of a person's childhood family are correlated or not with their career or family choices as an adult. Or how political or religious affiliations correlate with drug use or sexual practices. It's an extremely wide-ranging survey.

Feel free to work with other people in groups, and ask questions!

In [206]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_excel('/data/GSS.xlsx')

unknowns = [-100,-99,-98,-97,-90] #list of no value names

df['income'].value_counts() #checking unique values and distribution
df = df[~df['income'].isin(unknowns)] #keeping subset that excludes unknowns

df['hrs2'].value_counts() #checking unique values and distribution
dfc = df[df['hrs2'].isin([unknowns])] #keeping subset of only those with inputs from databook excluding nulls.
dfc['hrs2'].hist(grid=False) #distribution of hours worked
plt.show()

df['educ'].value_counts() #checking unique values and distribution
df = df[~df['educ'].isin([unknowns])] #keeping subset that excluded unknowns
dfc['educ'].hist(grid=False) #distribution of education
plt.show()

df['rincome'].value_counts() #checking unique values and distribution
dfc = df[~df['rincome'].isin(unknowns)] #keeping subset that excluded unknowns

df['happy'].value_counts() #checking unique values and distribution
dfc = dfc[df['happy'].isin([unknowns])] #keeping subset that excluded unknowns

df['hapmar'].value_counts() #checking unique values and distribution
dfc = dfc[~df['happy'].isin(unknowns)]

pd.crosstab(df['rincome'], df['hapmar'])

educ
 12    19338
 16     9665
 14     7711
 13     5484
 11     3478
 15     3140
 18     2922
 10     2639
 17     2337
 8      2284
 9      1864
 20     1792
 19     1061
 7       745
 6       726
 5       312
 4       251
 3       217
 2       129
 0       128
-98       58
-99       50
 1        39
Name: count, dtype: int64