## EDA LAB

The General Social Survey (GSS) is a bi-annual nationally representative survey of Americans, with almost 7000 different questions asked since the survey began in the 1970s. It has straightforward questions about respondents' demographic information, but also questions like "Does your job regularly require you to perform repetitive or forceful hand movements or involve awkward postures?" or "How often do the demands of your job interfere with your family life?" There are a variety of controversial questions. No matter what you're curious about, there's something interesting in here to check out. The codebook is 904 pages (use CTRL+F to search it).

The data and codebook are available at:
https://gss.norc.org/us/en/gss/get-the-data.html

The datasets are so large that it might make sense to pick the variables you want, and then download just those variables from:
https://gssdataexplorer.norc.org/variables/vfilter

Here is your task:
1. Download a small (5-15) set of variables of interest.
2. Write a short description of the data you chose, and why. (1 page)
3. Load the data using Pandas. Clean them up for EDA. Do this in a notebook with comments or markdown chunks explaining your choices.
4. Produce some numeric summaries and visualizations. (1-3 pages)
5. Describe your findings in 1-2 pages.
6. If you have other content that you think absolutely must be included, you can include it in an appendix of any length.

For example, you might want to look at how aspects of a person's childhood family are correlated or not with their career or family choices as an adult. Or how political or religious affiliations correlate with drug use or sexual practices. It's an extremely wide-ranging survey.

Feel free to work with other people in groups, and ask questions!

In [50]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_excel('/data/GSS.xlsx')

print(df['hrs2'].value_counts())
df['hrs2'] = df['hrs2'].replace(-100, np.nan)

df['educ'].value_counts()

educ
12th grade                        22202
4 years of college                10666
2 years of college                 8651
1 year of college                  6188
11th grade                         4046
3 years of college                 3484
6 years of college                 3187
10th grade                         3079
8th grade                          2812
5 years of college                 2571
9th grade                          2209
8 or more years of college         1941
7 years of college                 1166
7th grade                           906
6th grade                           889
5th grade                           414
4th grade                           329
3rd grade                           273
No formal schooling                 189
.n:  No answer                      179
2nd grade                           161
.d:  Do not Know/Cannot Choose      107
1st grade                            50
Name: count, dtype: int64